.header{
    text-align: center;
    padding: 16px;
    color: #fff;
    background-color: #4285f4;
}
button .fa-trash{
    color: rgb(231, 33, 33);
}
button{
    display: inline;
    background-color: transparent;
    border: none;
}
button:hover{
    background-color: #000;
    border-radius: 5px;
}
button:hover > i {
    color: #fff;
    background-color: #000;
}
.danger-button:hover{
    background-color: rgb(231, 33, 33) !important;
}
.danger-button:hover > i{
    color: #fff !important;
} 
.modal {
    display:none;
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    width:50%;
    height:50%;
    overflow:auto;
    background-color:rgba(0,0,0,0.4);
    }
    
    .modal-content-pass {
        background-color: #fefefe !important;
        margin: auto !important;
        padding: 20px !important;
        border: 1px solid #888 !important; 
        width: 400px !important;
        height: 300px !important;
    }
    
      
    
    .close{
    color:#aaa;
    float:right;
    font-size:28px;
    font-weight:bold;
    }
    
    .close:hover,
    .close:focus{
    color:black;
    text-decoration:none;
    cursor:pointer;
    }

    